
@{
    ViewBag.Title = "TinhNghiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TinhNghiem</h2>
@using (Html.BeginForm())
{
    <input type="text" name="hesoA" />
    <input type="Text" name="hesoB" />
    <input type="submit" value="Giai Phuong Trinh" />

}
<h3> Nghiệm của PT là:@ViewBag.nghiemPT </h3>
